<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading Page</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="loading-container">
        <h1>This environment isn't available yet</h1>
        <button onclick="goToMainPage()">Return to Main Page</button>
    </div>
    <script>
        function goToMainPage() {
            window.location.href = 'UI_System.html'; //this is the URL of the main page
        }
    </script>
</body>
</html>
